<html>    
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/public/css/NewBill.css" >
        <link rel="stylesheet" type="text/css" href="/public/css/tabdecor.css" >
    </head>
    <body>
            <div style="margin: auto; width: 200px; padding: 20px;height:800px">
                    <form method="Post" action="/auth" class="login">
                    <div class="BlockWndHeader" style="padding-bottom: 30px">
                        Авторизация
                    </div>
                        <input class="login-input" type="text" name ="user" >
                        <input class="login-input" type="password" name="pass">
                        <div class="BlockWndFooter" style="padding-left: 30px">
                            <input class="BlockOKBtn" type="submit" value="login">
                        </div>
                    </form>
            </div>
    </body>
</html>