   <div id="navbar">          
            <a class="navlink" onclick="openNav()">&#8801</a>            
            <a class="navlink" href="/">Поиск</a>            
            <a class="navlink" href="/openfile">Upload</a>            
            <a class="navlink" href="/Mail">Корзина</a>                        
            <div  class="zip"><a href="/order"><img src="/public/img/zip.ico"></a></div>
            <div  class="basketPoints" id="basketPoints">0</div>
            <div>
                  <select id="tip" class="sGoogle" onchange="tipSelect()">
                     {{{tip}}}
                  </select>
            </div>            
            <input type="button" class="sGoogleBtn" value="OK" onclick="">
            <input type="text" id="sGoogle" class="sGoogle" placeholder="Название...">                            
            
             
</div>

{{>gooogle}}