<div id="upload" class="upload">
      <form method="post" action="/upload" enctype="multipart/form-data">
      <label for="file" title="Выбирете файл">Выбирете файл</label>
        <input type="file" id="fileInput" name="file">     
        <input type="Submit" value ="Upload File" onclick="window.location.href ='/xls'">          
      </form>
</div>

