
body {
  width: auto;
  width: auto;
  background: linear-gradient(#aaa 0, #ddd 10px, #eae9cd 55px);
  border: 1px solid black;
  padding: 10px 20px;
  box-shadow: 5px 0px 30px #000;
  border-radius: 8px;
}

.RusCapt {
  clear: both;
  float: left;
  width: 95%;
  margin: auto;
  font-weight: 600;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  background:#6c83ff;
  border: 1px solid #fff;
  padding: 10px 15px 9px 3%;
  color: white;
  border-radius: 0 10px 0 10px;
  box-shadow: inset 0 0 5px rgba(53, 86, 129, 0.5);
  font-family: "Muli", sans-serif;
  box-shadow: 5px 0px 30px #000;
}

.Caption{
  float: left;
  width: 15%;
  margin: auto;
  text-align: right;
  padding-top: 11px;  
}

.MenuBtn{
  float: left;
  width: 70px;
  height: 49px;
  font-size: 72px;
  background:#85bf70;
  color: #000;
  text-align: center;
  font-weight: 800;
  border-radius: 0 10px 0 10px;
  margin-top: 6px;
  padding-top: 5px;
  box-shadow: 5px 0px 30px rgb(255, 255, 255);
}

.SearchWindow{
  visibility: visible;
  float: left;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px 0 10px 0;  
}

.sLine {
  width: 50%;
  margin: auto;
  height  : 40px;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 600;
  color:black;
  text-shadow: 0 -1px rgba(247, 247, 247, 0.6);
  border-radius: 0 10px 0 10px;
  background: bottom;
  padding-left: 15px;
}

.sLineCapt{
  padding: 10px 0 10px 0;  
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
}

.iFooter {  
  clear: both;
  width: 95%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background:#6c83ff;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 0 10px 0 10px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  box-shadow: 5px 0px 30px rgb(0, 0, 0);
}

.Menu{
  visibility: hidden;  
  text-align: left;
  width: auto;  
  float: left;
  padding-left: 5px;
  margin: auto;
  height: 0;
}

.tdStyle{
  padding: 5px 8px 5px 8px;
  text-align: center;
}

.resTab{
  float: left;
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.trHeaderStyle{
  margin:auto; 
  width:auto; 
  background: #a1b9ff;
  font-weight: 600;
  padding: 0 3px 0 3px;
}

.list{
  text-align: left;
  color: rgb(87, 73, 219);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  }


.list li:hover{
  font-size: x-large;
  color: rgb(26, 8, 129);
  font-style: italic;
}

.ZavozWnd{
  visibility: hidden;
  position: fixed;    
  z-index: 9999;
  top: 33%;
  width: auto;
  margin: 0 33% 0 33%;
  height: auto;  
  padding: 20px;
  border-radius: 5px;      
  background:#04071a;
  border: 1px solid #fff;
  border-radius: 0 10px 0 10px;
  box-shadow: 5px 0px 30px rgb(0, 0, 0);
}

.ReportTable{
  border: none;    
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: auto;
  margin: auto;
  box-shadow: 5px 0px 30px #000;
}

td {
  width: auto;
  text-align: left;  
  padding: 0 5px 0 5px;
  padding-left: 10px;
}

tr {
  text-align: center;
  color: black;
  padding: 0 5px 0 5px;
  background:rgb(166, 255, 196) ;
  padding: 5px;
}

#price {
  color: #0527e6;
  font-weight: 600;
  font-family:'Courier New', Courier, monospace
}

.basket{  
  display: block;
  float: left;
  width: 24px;
  height: 24px;
}

.zip{
  display: block;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 50px;
  height: 50px;
  padding: 3px;
  margin-top: 24px;
}

.inpCol{
  padding: 7px;
  border: none;
}

.delItem{
  background-image: url("../img/no.ico");  
  height: 100%;
  width: 100%; 
}

.SumaLabel{
  float: right;
  padding: 7px;
  border: none;
  margin-top: 24px;  
  margin-right: 24px;
  font-size: 17px;
}

.Suma{
  float: right;
  padding: 7px;
  border: none;
  margin-top: 24px;  
  margin-right: 24px;
  font-size: 17px;
}

.basketPoints{
  display: block;
  float: left;
  margin-top: 46px;
  color:#0f2506;
  font-size: 20px;
  margin-left: -42px;
}

.imgDel{
  width: 24px;
  height: 24px;
}